@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: "Stack Sans Text", sans-serif;
}

#box{
    width: 500px;
    background-color: white;
    padding: 30px 30px 10px;
    border-radius: 10px;
}

#box p{
    font-size: 18px;
    padding: 0 0 20px;
}

#box span{
    color: rgb(204, 27, 27);
}

#box #outer{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

#box #outer #inner{
    height: 100%;
    width: 0%;
    background-color: #28A745;
    position: absolute;
    border-radius: 15px;
}

#box #bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 20px;
}

#bottom h1{
    font-weight: 200;
    font-size: 35px;
}

#bottom button{
    border: none;
    padding: 10px 20px;
    background-color: #4CAF50;
    border-radius: 7px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

#bottom button:active{
    scale: 0.9;
}

#line p{
    padding: 20px;
    text-align: center;
}